[Unit]
Description=SOC Parser Bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/wg-soc-lab/scripts/parser.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target

